.button{
  background-color: grey;
  color: white;
  height: 16vh;
  width: calc(25% - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  /*border-style: solid;
  border-color: lightgrey;*/
  margin: 1px;
  float: left;
}

body{
  padding: 0;
  margin: 0;
}
